body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #2b1d14;
    background-color: #f4eee8;
}
header{
    text-align: center;
    color: white;
    padding: 1px;
    background-color: #5c3825;
    
}

main{
    width: 90%;
    background-color: #f4eee8;
    max-width: 1000px;
}

.caja{
    background-color: #5c3825;
    padding: 20px;
    margin: 100px; */
    margin-top: 100px;
    border: #2b1d14 solid 5px;
}

.presentacion{
    width: 300%;
}


.presentacion img{
  padding: 30px;
}

footer{
background-color: #5c3825;
color: white;
pandding: 15px;
}

.flebox-main{
    display: flex;
    gap: 20px;
    text-align: right;
    panding: 20px;
    background-color: blue;
}

.flebox-main-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    panding: 20px;
    background-color: red;
}
.contenedor{
    padding: 20px;
    margin: 10px;
}
.menu ul{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.menu a{
    background-color: #5c3825;
    color: white;
    padding: 8px;
    border-radius: 7px;
    text-decoration: none;
}
.menu a:hover{
    background-color: #2b1d14;
    color: #f4eee8;
}

section{
    margin: 50px;
}

.boton{
    display: inline-block;
    background-color: #8b4f2f;
    color: white;
    padding: 8px 5px;
    border-radius: 7px;
    margin-top: 10px;
    text-decoration: none;
}
.boton:hover{
    color: black;
    background-color: #75c454;
}

.boton-secundario{
    display: inline-block;
    background-color: #3341aa;
    color: rgb(227, 9, 9);
    padding: 8px 5px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
}